/* #home {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.flex_child {
    flex: 1;
    width: 40%;
}

p {
    text-justify: inter-word;
}

img[src="landingImg"] {
    width: 20px;
    height: 20px;
} */

#landing {
  
    background-image: url(landing.png) ;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, .1);
    background-color:  #ffffcc    ;
    background-position: 80% 70%;
    background-size: 300px;
    padding: 200px;
}
#landing * {
    font-family: monospace;
}