
@media (min-width:960px){
    #landing {
  
        background-image: url(landing.png) ;
        background-repeat: no-repeat;
        background-position: 80% 70%;
        background-size: 300px;
        padding: 200px;
    }
}

#landingOverlay {
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
}

#landing * {
    font-family: monospace;
}

p {
    text-align: justify;
}
img {
    margin-top: 30px;
    margin-bottom: 30px;
}
.img-container {
    text-align: center;
    /* background-color: red; */
}